# User Service
DB_ROOT_PASSWORD=secret
USER_DB_HOST=user-db-svc
USER_DB_NAME=users
USER_DB_USER=username
USER_DB_PASS=pass
USER_DB_PORT=3306
USER_APP_PORT=8081

# API Gateway
API_GATEWAY_PORT=8080
GOOGLE_CLIENT_ID=YOUR_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_CLIENT_SECRET

# Finance Service
FINANCE_DB_HOST=finance-db-svc
NESTJS_PORT=3000
NEST_ENV=dev

# Insights DB
INSIGHTS_DB_PASS=pass
POSTGRES_PORT=5432
