# User Service
DB_ROOT_PASSWORD=secret
USER_DB_HOST=user-db-svc
USER_DB_NAME=users
USER_DB_USER=username
USER_DB_PASS=pass
USER_DB_PORT=3306
USER_APP_PORT=8081

# API Gateway
API_GATEWAY_PORT=8080
GOOGLE_CLIENT_ID=YOUR_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_CLIENT_SECRET

# Finance Service
FINANCE_DB_HOST=finance-db-svc
NESTJS_PORT=3000
NESTJS_ENV=dev

# Insights Service
INSIGHTS_DB_USER=user
INSIGHTS_DB_PASS=pass
INSIGHTS_DB_NAME=dbname
POSTGRES_PORT=5432
MONGO_URI=mongodb://user:27017/dbname
MONGO_DB_NAME=dbname

# Insights DB
POSTGRES_PORT=5432
